@import url(https://fonts.googleapis.com/css?family=Rajdhani:300);
/* line 26, ../sass/futureNavbar.scss */
html, body {
  overflow: hidden;
  background: #000 top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  letter-spacing: .1em;
}

/* line 37, ../sass/futureNavbar.scss */
.glow, .scifiUI:hover h1, .scifiUI:hover ul li {
  -moz-box-shadow: 0 0 25px #00dcdc, 0 1px 5px #212121;
  -webkit-box-shadow: 0 0 25px #00dcdc, 0 1px 5px #212121;
  box-shadow: 0 0 25px #00dcdc, 0 1px 5px #212121;
  border-color: #00dcdc;
  background: #00dcdc;
  color: rgba(33, 33, 33, 0.7);
}

/* line 52, ../sass/futureNavbar.scss */
.scifiUI:hover h1:after {
  border-top-color: rgba(33, 33, 33, 0.7);
}
/* line 56, ../sass/futureNavbar.scss */
.scifiUI:hover ul li {
  -moz-transform: skew(0);
  -ms-transform: skew(0);
  -webkit-transform: skew(0);
  transform: skew(0);
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(1) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(2) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(3) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(4) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(5) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(6) {
  left: 0;
}
/* line 61, ../sass/futureNavbar.scss */
.scifiUI:hover ul li:nth-child(7) {
  left: 0;
}
/* line 68, ../sass/futureNavbar.scss */
.scifiUI * {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 72, ../sass/futureNavbar.scss */
.scifiUI h1 {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #00bebe;
  background: rgba(0, 190, 190, 0.2);
  color: #00bebe;
  font-size: 1.6em;
  text-align: center;
  cursor: pointer;
}
/* line 85, ../sass/futureNavbar.scss */
.scifiUI h1:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  border-top: 10px solid #00bebe;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0;
}
/* line 98, ../sass/futureNavbar.scss */
.scifiUI ul {
  list-style: none;
  position: relative;
  top: -20px;
}
/* line 103, ../sass/futureNavbar.scss */
.scifiUI ul li {
  -moz-transform: skew(45deg) scaleY(-3);
  -webkit-transform: skew(45deg) scaleY(-3);
  transform: skew(45deg) scaleY(-3);
  -moz-box-shadow: 0 3px 0 5px #212121 inset;
  -webkit-box-shadow: 0 3px 0 5px #212121 inset;
  box-shadow: 0 3px 0 5px #212121 inset;
  position: absolute;
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #00bebe;
  background: #00dcdc;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(1) {
  top: 0px;
  left: -1700%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(2) {
  top: 50px;
  left: 500%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(3) {
  top: 100px;
  left: -1700%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(4) {
  top: 150px;
  left: 500%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(5) {
  top: 200px;
  left: -1700%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(6) {
  top: 250px;
  left: 500%;
}
/* line 121, ../sass/futureNavbar.scss */
.scifiUI ul li:nth-child(7) {
  top: 300px;
  left: -1700%;
}
/* line 131, ../sass/futureNavbar.scss */
.scifiUI ul li:hover {
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  font-size: 1.8em;
  z-index: 99;
}
/* line 142, ../sass/futureNavbar.scss */
.scifiUI #mainNav {
  background-color: #42043f;
}
/* line 144, ../sass/futureNavbar.scss */
.scifiUI #mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #42043f;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* line 154, ../sass/futureNavbar.scss */
.scifiUI #mainNav .navbar-brand {
  color: #f2f3f3;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* line 157, ../sass/futureNavbar.scss */
.scifiUI #mainNav .navbar-brand.active, .scifiUI #mainNav .navbar-brand:active, .scifiUI #mainNav .navbar-brand:focus, .scifiUI #mainNav .navbar-brand:hover {
  color: #fec503;
}
/* line 166, ../sass/futureNavbar.scss */
.scifiUI #mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* line 173, ../sass/futureNavbar.scss */
.scifiUI #mainNav .navbar-nav .nav-item .nav-link.active, .scifiUI #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}
@media (min-width: 992px) {
  /* line 183, ../sass/futureNavbar.scss */
  .scifiUI #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #42043f;
  }
  /* line 191, ../sass/futureNavbar.scss */
  .scifiUI #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 199, ../sass/futureNavbar.scss */
  .scifiUI #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  /* line 204, ../sass/futureNavbar.scss */
  .scifiUI #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #42043f;
  }
  /* line 208, ../sass/futureNavbar.scss */
  .scifiUI #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}
